.a-context {
  width: 1000px;
  padding: 30px;
  box-shadow: 0 0 10px black;
  margin: 30px auto;
}
.B-context {
  width: 800px;
  padding: 20px;
  box-shadow: 0 0 10px coral;
  margin: 20px;
}
.C-context {
  width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px blue;
  margin: 20px;
}
.D-context {
  width: 500px;
  padding: 20px;
  box-shadow: 0 0 10px slategrey;
  margin: 20px;
}
.E-context {
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px red;
  margin: 20px;
}