* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.useRefStyles {
  padding: 50px;
  background-color:lightcoral;
  text-align: justify;
}
.useRefStyles h1 {
  margin-bottom: 20px;
  color: white;
  text-align: center;
}
.useRefStyles button {
    margin-right: 20px;
    padding: 13px 25px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.useReducerStyle button {
  margin-right: 20px;
  padding: 13px 25px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}