.product-details {
  width: 1100px;
  height: 450px;
  box-shadow: 0 0 10px black;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 35% 65%;
}
.imageSection {
  padding: 20px;
}
.contentSection {
  background-color: black;
  display: grid;
  color: white;
  grid-template-rows: 10% 10% 70% 10%;
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.col-2 dt {
  font-weight: bold;
  font-size: 17px;
}

.col-2 div {
  display: flex;
  justify-content: center;
  align-items: center;
}