.signup-container {
  height: 100vh;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 100, 0, 0.8)
    ),
    url("https://png.pngtree.com/thumb_back/fw800/background/20230913/pngtree-cell-phone-and-paper-speech-bubbles-next-to-blue-surface-of-image_13274584.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 400px;

  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.signup-form h2 {
  font-size: 26px;
  text-align: center;
  color: darkgreen;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-form input {
  width: 100%;
  background-color: #efefef;
  margin-bottom: 15px;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 4px;
}
.signup-form button {
  background-color: darkgreen;
  width: 98%;
  color: white;
  border: none;
  outline: none;
  padding: 13px 30px;
  border-radius: 5px;
  margin-top: 7px;
  font-size: 16px;
}

#gender {
  width: 100%;
  padding: 13px;
  border: 0;
  outline: 0;
  background-color: #efefef;
}

.forgot-password a {
  color: green;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}