.navbar {
  height: 80px;
  background-color: black;
  display: grid;
  grid-template-columns: 40% 60%;
}
#brandName {
  display: flex;
  justify-content: center;
  align-items: center;
}
#brandName h1 {
  font-size: 52px;
  color: white;
}
#menus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#menus a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
  font-size: 17px;
}
#menus button {
  padding: 15px 30px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 30px;
}