    .card-container {
            display: flex;
            justify-content: space-evenly;
        }

        .card {
            width: 250px;
            height: 300px;
            padding: 20px;
            box-shadow: 0 0 10px black;
        }
   
